@import './tailwind.css';

body {
  font-family: 'Unbounded', sans-serif;
}

html,
body,
#root {
  display: flex;
  width: 100%;
  height: 100%;
}

html {
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}
