@import 'tailwindcss';

@font-face {
  font-family: 'Exodus';
  src: url('fonts/exodus-sans.woff2') format('woff2');
}

body {
  font-family: 'Exodus';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}
