@import 'tailwindcss';

@theme {
  /* Colors. */
  --color-dark: #1d2328;
  --color-light: #efefef;
  --color-primary: #bc5431;
  --color-green: #6ade6b;
  --color-light-grey: #ebebeb;
  --color-grey-border: #e6e6e6;
  --color-pink: #f91880;

  /* Desktop font sizes. */
  --text-title-desktop-1: 3.375rem; /* 54px. */
  --text-title-desktop-2: 2.813rem; /* 45px. */
  --text-title-desktop-3: 2.313rem; /* 37px. */
  --text-title-desktop-4: 1.938rem; /* 31px. */
  --text-title-desktop-5: 1.625rem; /* 26px. */
  --text-title-desktop-6: 1.375rem; /* 22px. */
  --text-body-desktop: 1.125rem; /* 18px. */

  /* Mobile font sizes. */
  --text-title-mobile-1: 1.75rem; /* 28px. */
  --text-title-mobile-2: 1.375rem; /* 22px. */
  --text-title-mobile-3: 0.938rem; /* 15px. */
  --text-body-mobile: 0.75rem; /* 12px. */

  /* Font weights for mobile and desktop. */
  --font-weight-title-desktop: 700; /* Bold. */
  --font-weight-body-desktop: 500; /* Medium. */
  --font-weight-title-mobile: 700; /* Bold. */
  --font-weight-body-mobile: 400; /* Regular. */

  /* Border radius. */
  --border-radius: 12px;

  /* Spacing. */
  --spacing-sm: 0.25rem; /* 4px. */
  --spacing-md: 0.5rem; /* 8px. */
  --spacing-lg: 0.75rem; /* 12px. */
  --spacing-xl: 1rem; /* 16px. */
  --spacing-2xl: 1.25rem; /* 20px. */
  --spacing-3xl: 1.5rem; /* 24px. */
  --spacing-4xl: 1.75rem; /* 28px. */
  --spacing-5xl: 2rem; /* 32px. */
  --spacing-6xl: 2.25rem; /* 36px. */
  --spacing-7xl: 2.5rem; /* 40px. */
  --spacing-8xl: 2.75rem; /* 44px. */
  --spacing-9xl: 3rem; /* 48px. */
  --spacing-10xl: 3.25rem; /* 52px. */
  --spacing-11xl: 3.5rem; /* 56px. */
  --spacing-12xl: 3.75rem; /* 60px. */

  /* Line height. */
  --line-height-title-desktop-1: 4.5rem; /* 72px. */
}
