[data-sonner-toaster][data-sonner-theme='light'] {
  --normal-bg: var(--color-grey-light-mode);
  --normal-border: var(--color-grey-border-light-mode);
  --normal-text: var(--color-dark);
  --normal-bg-hover: none;
  --normal-border-hover: none;
  --success-bg: none;
  --success-border: none;
  --success-text: none;
  --info-bg: none;
  --info-border: none;
  --info-text: none;
  --warning-bg: none;
  --warning-border: none;
  --warning-text: none;
  --error-bg: none;
  --error-border: none;
  --error-text: none;
}

[data-sonner-toaster][data-sonner-theme='dark'] {
  --normal-bg: var(--color-blue-dark-mode);
  --normal-border: var(--color-blue-border-dark-mode);
  --normal-text: var(--color-light);
  --normal-bg-hover: none;
  --normal-border-hover: none;
  --success-bg: none;
  --success-border: none;
  --success-text: none;
  --info-bg: none;
  --info-border: none;
  --info-text: none;
  --warning-bg: none;
  --warning-border: none;
  --warning-text: none;
  --error-bg: none;
  --error-border: none;
  --error-text: none;
}
